@using AgileStockPro.App.Models.Dashboard

<FluentCard class="top-suppliers-widget">
    <div class="card-header">
        <FluentLabel Type="LabelType.H6">Proveedores Top</FluentLabel>
    </div>
    <div class="card-content">
        @if (Suppliers is not null)
        {
            <div class="items-container">
                @foreach (var supplier in Suppliers)
                {
                    <div class="item">
                        <div class="item-info">
                            <FluentLabel Type="LabelType.P">@supplier.Name</FluentLabel>
                            <FluentLabel Type="LabelType.Small" Class="subtitle">@supplier.Orders órdenes</FluentLabel>
                        </div>
                        <FluentLabel Type="LabelType.P">@supplier.Amount</FluentLabel>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Cargando proveedores...</p>
        }
    </div>
</FluentCard>

@code {
    [Parameter]
    public IEnumerable<TopSupplierModel>? Suppliers { get; set; }
}