@page "/analisis/dashboard"

<PageTitle>Dashboard de Análisis</PageTitle>

<div class="page-container">
    <div class="page-header">
        <div class="title-section">
            <h2>Dashboard de Análisis</h2>
            <p>Aquí se mostrarán los dashboards con métricas clave.</p>
        </div>
    </div>
    <div>
        <p>Página en construcción.</p>
    </div>
</div>
