@page "/analisis/reportes"

<PageTitle>Reportes de Análisis</PageTitle>

<div class="page-container">
    <div class="page-header">
        <div class="title-section">
            <h2>Reportes de Análisis</h2>
            <p>Aquí se mostrarán los reportes detallados.</p>
        </div>
    </div>
    <div>
        <p>Página en construcción.</p>
    </div>
</div>
