@using Microsoft.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

<FluentCard class="nav-card">
    <div class="nav-card-header">
        <FluentIcon Value="@Icon" />
        <h4>@Title</h4>
    </div>
    <p class="nav-card-description">@Description</p>
    <FluentButton Href="@Href" Appearance="Appearance.Accent" class="nav-card-button">
        Acceder
    </FluentButton>
</FluentCard>

@code {
    [Parameter, EditorRequired]
    public Icon Icon { get; set; } = new Icons.Regular.Size24.Question();

    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Description { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Href { get; set; } = string.Empty;
}