@page "/stock"
@inject BusinessLogic.Services.IStockService StockService

<h1>Stock (simplificado)</h1>

@if (stockItems == null)
{
    <p>Cargando...</p>
}
else
{
    <ul>
        @foreach (var s in stockItems)
        {
            <li>@s.Product (@s.Warehouse): @s.Quantity</li>
        }
    </ul>
}

@code {
    private IEnumerable<Contracts.StockItemDto>? stockItems;

    protected override async Task OnInitializedAsync()
    {
        stockItems = await StockService.GetStockAsync();
    }
}
